body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px; /* Reduzi o padding para um espaçamento mais equilibrado */
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    color: #2c3e50;
    font-size: 2em; /* Reduzi o tamanho da fonte para garantir que caiba na tela */
    margin-bottom: 20px;
}

p {
    color: #7f8c8d;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Centralizei a imagem e adicionei margem superior e inferior */
}

#downloadButton {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#downloadButton:hover {
    background-color: #2980b9;
}

/* Adicionando regras de mídia para ajustar o layout em dispositivos móveis */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }

    img {
        margin: 10px auto; /* Reduzi a margem superior e inferior da imagem para melhor ajuste */
    }
}
